@{
    ViewBag.Title = "Puzzle de Célula";
}
<h3>@ViewBag.Title</h3>
<div class="row">
    <div class="col-md-6">
        <canvas id="canvas" style="background: #999;" width="200" height="300"></canvas>
    </div>
    <div class="col-md-6">
        <img src="~/images/logoCEME.png" alt="Bird" width="300" height="300">
    </div>
</div>
@*<h3>@ViewBag.Message</h3>*@
<script src="~/CanvasGame/game-puzzle.js"></script>
