@{
    ViewBag.Title = "Puzzle de Célula";
}
<h3>@ViewBag.Title</h3>
<br />
<br />
<br />
<canvas id="canvas" width="938" height="311" style="border: 1px solid black;"></canvas>
@*<h3>@ViewBag.Message</h3>*@
<script src="~/CanvasGame/game-puzzle.js"></script>
