@{
    ViewBag.Title = "Atrapame";
}
<h3>@ViewBag.Title</h3>
@*<h3>@ViewBag.Message</h3>*@
<br />
<br />
<br />
<canvas id="canvas" style="background:#999" width="980" height="311"></canvas>
<script src="~/CanvasGame/game-eat.js"></script>
